.appbar{
  background: rgb(70,1,102);
background: radial-gradient(circle, rgba(70,1,102,1) 0%, rgba(22,16,16,1) 94%);
  border-color: white !important;
}
.boton>button{
  text-decoration: none;
  color: white !important;
  left: 300px;
  padding-left: 80px;
}
.search{
  left: 500px;
  height: 50px;
  width: 120px;
  background: #0FAE96;
  color: white;
  border-radius: 10px;
}
.logo{
  width: 200px;
  height: 0;
  color: white;
font-size: 30px;
font-weight: 100px;
line-height: 42px;
letter-spacing: 0.01em;
text-align: left;
}
.logo2{
  color: #0FAE96;
  position: relative;
  top: -40px;
  left: 100px;

}
.select{
  width: 70px;
  position: relative;
  left: 480px;
}
.en{
  color: #B6B6B6;

}
.fondo{
  width: 1887px;
  height: 3500px;
  background: rgb(70,1,102);
background: radial-gradient(circle, rgba(70,1,102,1) 0%, rgba(22,16,16,1) 94%);
}
.title{
  position: relative;
  top: -3390px;
  left: 570px;
  color: white;
}
.title>h1{
  font-size: 40px;
}
.title>p{
  color: #B6B6B6;
  position: relative;
  font-size: 19px;
  left: 140px;
}
.boton1{
  background: #0FAE96;
  position: relative;
  left: 300px;
  width: 200px;
  height: 60px;
  border-radius: 15px;
}
.p{
  position: relative;
  padding-left: 100px;
}
.boton2{
  position: relative;
  left: 280px;
  top: -66px;
  border-radius: 100px;
}
.BOTON3{
  background: #B6B6B6;
  color: black;
  height: 20px;
  position: relative;
  left: 50px;
  top: -70px;
}
.title2{
position: relative;
top: -60px;
left: 20px;
}
.grafic{
  position: relative;
  top: -100px;
  left: 160px;
}
.card{
  position: relative;
  width: 600px;
  top: -3170px;
  left: 220px;
  color: white;
  background-color: transparent;
  border: 1px solid #FFFFFF0D
  }
  .title4{
    position: relative;
    top: -3200px;
    color: white;
    left: 220px;
  }
  .card1{
    display: flex;
    justify-content: space-around;
    padding-right: 400px;
  }
  .title5{
    position: relative;
    top: -3000px;
    left: 750px;
    color: white;
  }
  .title5>p{
    color: #B6B6B6;
    position: relative;
    right: 60px;
  }
  .card2{
    color: white;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #FFFFFF0D;
    position: relative;
    top: 70px;
    right: 500px;
  }
  .cardp{
    display: flex;
    justify-content: space-around;
    padding-right: 400px;
  }
  .P2{
    color: #B6B6B6;
    width: 250px;
  }
  .title6{
    position: relative;
    top: -2800px;
    left: 250px;
    color: white;
    border: 1px solid #FFFFFF14;
    width: 1450px;
    height: 150px;
    border-radius: 15px;
  }
  .title6>p{
    color: #B6B6B6;
    width: 500px;
    position: relative;
    left: 50px;
    
  }
  .title6>button{
    background-color: #0FAE96;
    border-radius: 10px;
    position: relative;
    top: -90px;
    left: 1200px;
    width: 207px;
    height: 56px;
  }
  .title6>h1{
    position: relative;
    left: 50px;
  }
  .title7{
    position: relative;
    top: -2600px;
    left: 250px;
    color: white;
  }
  .title7>p{
    color: #B6B6B6;
  }
  .botones1>button{
    color: #B6B6B6;
    border: 1px solid #FFFFFF0D;
  }
  .botones1{
    display: flex;
    justify-content: space-between;
    padding-right: 1200px;
  }
  .seachr2{
    background-color: #FFFFFF14;
    border-radius: 20px;
    color: #B6B6B6 !important;
    position: relative;
    left: 1200px;
    top: -70px;
  }
  .seachr2>label{
    color: #B6B6B6;
  }
  .title8{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 1700px;
    top: -2600px;
    left: 250px;
    color: white;
    border: 1px solid #FFFFFF0D
  }
  .hr{
    width: 1500px;
  }
  .logos{
    position: relative;
    width: 2px;
    right: 1400px;
  }
  .name1{
    position: relative;
    top: 100px;
  }
  .name2{
    position: relative;
    top: 85px;
  }
  .name3{
    position: relative;
    top: 75px;
  }
  .name4{
    position: relative;
    top: 60px;
  }
  .name5{
    position: relative;
    top: 45px;
  }
  .name6{
    position: relative;
    top: 25px;
  }
  .name7{
    position: relative;
    top: 5px;
  }
  .title9{
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    top: -3050px;
    left: 1000px;
    padding-right: 1200px;
  }
  .grafica{
    position: relative;
    width: 200px;
  }
  .p2{
    color: red;
  }
  .title9>div>button{
    background-color: #0FAE96;
  }
  .link>button{
    color: #0FAE96 !important;
    position: relative;
    bottom: 2900px;
    left: 240px;
  }
  .link>{
    width: 50px;
    position: relative;
    right: 925px;
    bottom: 17px;
  }
  .title10{
    color: white;
    position: relative;
    bottom: 2800px;
    left: 230px;
  }
  .title10>p{
    color: #B6B6B6;
    width: 350px;
  }
  .title10>button{
    background-color: #0FAE96;
    position: relative;
    top: 20px;
    height: 70px;
    width: 180px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
  }
  .perfil{
    
    position: relative;
    top: -3000px;
    left: 1300px;
  }
  .perfil1{
    color: white;
    background-color:#FFFFFF0D;
    border: 1px solid #FFFFFF0D;
    margin-top: 30px;
  }
  .fondo2{
    position: relative;
    bottom: 3000px;
    width: 1887px;
  height: 2500px;
  background: rgb(70,1,102);
background: radial-gradient(circle, rgba(70,1,102,1) 0%, rgba(22,16,16,1) 94%);
  }
  .title11{
    color: white;
    position: relative;
    bottom: 5200px;
    left: 700px;
    font-size: 20px;
  }
  .title11>p{
    color: #B6B6B6;
    position: relative;
    left: 50px;
  }
  .botonfinal{
    background-color: transparent;
    color: #0FAE96;
    position: relative;
    top: 500px;
    right: 500px;
    border-color: transparent;
  }
  .titlefinal{
    position: relative;
    bottom: 4600px;
    color: white;
    left: 200px;
  }
  .subtitle{
    color: #0FAE96 !important;
    position: relative;
    bottom: 60px;
    left: 120px;
  }
  .redes{
    position: relative;
    right: 15px;
  }
  .p3{
    color: #B6B6B6 !important;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    padding-right: 1100px;
    color:#B6B6B6;
    position: relative;
    bottom: 4815px;
    left: 900px;
  }
/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
